
#outer-box {
  width: 403px;
  border: 1px solid black;
}


#single-box {
  width: 100px;
  height: 100px;
  border: black solid 1px

}
#double-box {
  border: black solid 2px;
  width: 200px;
  height: 100px
}
#triple-box {
  border: 1px solid black;
  width: 300px;
  height: 100px;
}
#quad-box {
  border: 1px solid black;
  width: 400px;
  height:100px;
}
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}
